<div class="card" >
    <p-toast position="top-right" [key]="succes" ></p-toast>
    <button pButton class="new-button" id="botaoDisplay" icon="pi pi-plus" label="Nova turma" iconPos="left" (click)="showDialog()"> </button>

    <h1 style="text-align: center;">Turmas</h1>


    <p-dialog class="titulo-turma"  (onHide)="limparHolderColaboradorCompetencia($event)" header="Cadastrar turma" [draggable]="false" [modal]="true" [(visible)]="display"  >
        <form  >

        <div class="card table-colab"  >
                <div class="card ui-grid-col-12">
                    <p  class="registrar-turma ui-grid-col-4" >Nome da turma</p>
                    <p  class="registrar-turmar ui-grid-col-6">Descricao da turma</p>
                    <input pInputText placeholder="nome turma"  class="registrar-turma ui-grid-col-3 " type="text" name="nomeDaTurma"  [(ngModel)]="inputNomeTurma" />
                    <textarea [rows]="1" [cols]="30"  type="text" pInputTextarea autoResize="autoResize" name="descricaoDaTurma"  [(ngModel)]="inputDescricaoTurma" class="registrar-turmar ui-grid-col-6 "  placeholder="descricao..." ></textarea>

                </div>

                <form>
                    <p-fieldset  legend="Adicionar colaborador" [toggleable]="true" [collapsed]="true" >
                        <div class="ui-g-4"  >

                        <p  class="registrar-turma ">Colaborador</p>

                        <p-dropdown [options]="colaboradoresTotal" placeholder="colaborador" required="true"  
                        name="colaboradorNomeDropDown" optionLabel="nome" [(ngModel)]="colaboradorDropDown" [filter]="true" >
                        </p-dropdown>
                       
                        <p  class="registrar-turma ">Competencia</p>

                        <p-dropdown name="competenciaNomeDropDown" [options]="competenciasTotal" placeholder="competencia" optionLabel="nome" 
                        [(ngModel)]="competenciaDropDown" filter="true" >
                        </p-dropdown>

                        <button pButton class="commit-button-colab"  
                        (click)="inserirColaboradorCompetenciaHolder()"   icon="pi pi-plus" 
                        label="Adicionar" type="button" iconPos="left"  > </button>

                    </div>


                       <div class="ui-g-8" >
                      <p-table [value]="colaboradorCompetenciaHolder">
                            <ng-template pTemplate="header">
                            <tr>
                                <th>Colaborador</th>
                                <th>Competencia</th>
                                <th>Nivel</th>
                                <th>Descartar</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-colaborador>
                            <tr>
                                <td>{{colaborador.colaboradorNome}} {{colaborador.colaboradorSobrenome}} </td>
                                <td>{{colaborador.competenciaNome}}</td>
                                <td>{{colaborador.nivel}}</td>
                                <td>
                                    <button pButton class="button-descarte" (click)="deletarColaboradorCompetenciaHolder(colaborador)" icon="ui-icon-trash" pTooltip="Descartar colaborador"  ></button>
                                </td>
                            </tr>
                        </ng-template>
                        </p-table>
                    </div> 
                        
                    </p-fieldset>
                    <button pButton class="commit-button ui-grid-col-3" type="button" icon="pi pi-plus" label="Cadastrar" iconPos="left" [disabled]="desabilitarCadastrar()" (click)="inserirTurma() " > </button>
                    <button pButton class="commit-button ui-grid-col-3" type="button" icon="pi pi-plus" label="Cadastrar e iniciar" iconPos="left" [disabled]="desabilitarCadastrarIniciando(0)" (click)="inserirTurmaIniciando()" > </button>

                </form>
        </div>
    </form>

    </p-dialog>



    
        <p-table #dt [value]="turmas"  [rows]="15" [paginator]="true">
            <ng-template pTemplate="header" >
                <tr>
                    <th >nome
                        <input pInputText (input)="dt.filter($event.target.value, 'nome','startsWith')" />
                    </th>
                    <th>descricao
                    </th>
                    <th  class="coluna-media">status
                        <p-dropdown [options]="statusDisponiveis" class="drop-down-status" placeholder="colaborador" required="true"  
                        name="colaboradorNomeDropDown" optionLabel="statusNome" (onChange)="dt.filter($event.value, 'statusNome','startsWith')"  >
                        </p-dropdown>
                    </th>
                    <th class="coluna-menor">Modificar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-turma class="ui-grid-col-12" >
                <tr >
                    <td >{{turma.nome}}
                        
                    </td>
                    <td >{{turma.descricao}}</td>
                    <td >{{turma.statusNome}}</td>
                    <td class="botao-acao">
                        <button pButton icon="ui-icon-pencil" pTooltip="Alterar turma"  (click)="showDialogAlt(turma); listarTurmaColaboradorCompetencia(turma.id)" ></button>
                    </td>
                </tr>
            </ng-template>
            
        </p-table>

        <p-dialog class="dialog-turma" (onHide)="limparHolderColaboradorCompetencia($event)" header="Alterar turma" *ngIf="!!turmaDetalhada" [draggable]="false" [modal]="true" [(visible)]="displayAlt"  >
            <form id="alterarTurma">
            <div class="card table-colab"  >
                    <div class="card ui-grid-col-12">
                        <p  class="registrar-turma ui-grid-col-4" >Nome da turma</p>
                        <p  class="registrar-turmar ui-grid-col-6">Descricao da turma</p>
                        <input pInputText placeholder="nome turma" value="{{turmaDetalhada.nome}}"  class="registrar-turma ui-grid-col-3 " type="text" name="nomeTurmaAlt" [(ngModel)]="inputNomeTurma" />
                        <textarea [rows]="1" [cols]="30" type="text" value="{{turmaDetalhada.descricao}}" pInputTextarea autoResize="autoResize" class="registrar-turmar ui-grid-col-6 " name="descricaoTurmaAlt" [(ngModel)]="inputDescricaoTurma"  placeholder="descricao..."  ></textarea>
                        <br/>
                        <button pButton class="finalizar-button ui-grid-col-4" type="button" [disabled]="desabilitarBotaoTerminar(turmaDetalhada.statusId)" icon="ui-icon-play-arrow" label="Finalizar turma" iconPos="left" (click)="finalizarTurma(turmaDetalhada)" > </button>


                    </div>
    
                    <form>
                        <p-fieldset legend="Adicionar colaborador"   [toggleable]="true" collapsed="true" >
                            <div class="ui-g-4"  >
                                <p  class="registrar-turma ">Colaborador</p>
                                <p-dropdown [options]="colaboradoresTotal" placeholder="colaborador" required="true"  
                        name="colaboradorNomeDropDownAlterar" optionLabel="nome" [(ngModel)]="colaboradorDropDown" [filter]="true" >
                        </p-dropdown>

                        <p  class="registrar-turma ">Competencia</p>

                        <p-dropdown name="competenciaNomeDropDownAlterar" [options]="competenciasTotal" placeholder="competencia" optionLabel="nome" 
                        [(ngModel)]="competenciaDropDown" filter="true" >
                        </p-dropdown>

                        <button pButton class="commit-button-colab"  
                        (click)="inserirColaboradorCompetenciaHolder()"   icon="pi pi-plus" 
                        label="Adicionar" type="button" iconPos="left" [disabled]="desabilitarBotaoAdicionarColaborador(turmaDetalhada.id)"  > </button>   

                                </div>
    
    
                           <div class="ui-g-8" >
                          <p-table [value]="colaboradorCompetenciaHolder">
                                <ng-template pTemplate="header">
                                <tr>
                                    <th>Colaborador</th>
                                    <th>Competencia</th>
                                    <th>Nivel</th>
                                    <th>Descartar</th>
                                </tr>

                            </ng-template>
                            <ng-template pTemplate="body" let-colaborador>
                                <tr>
                                    <td>{{colaborador.colaboradorNome}} {{colaborador.colaboradorSobrenome}} </td>
                                    <td>{{colaborador.competenciaNome}}</td>
                                    <td>{{colaborador.nivel}}</td>
                                    <td>
                                        <button pButton class="button-descarte" [disabled]="desabilitarBotaoColaboradorCompetenciaAlt(turmaDetalhada.statusId)" (click)="deletarColaboradorCompetenciaHolderAlt(colaborador, turmaDetalhada.id)" icon="ui-icon-trash" pTooltip="Descartar colaborador"  ></button>
                                    </td>
                                </tr>
                                <tr>

                                </tr>
                            </ng-template>
                            </p-table>
                        </div> 
                            
                        </p-fieldset>
                    </form>
            </div>
            <button pButton class="commit-button" type="button"  icon="ui-icon-pencil" [disabled]="desabilitarBotaoColaboradorCompetencia(turmaDetalhada.statusId)"  label="Alterar" iconPos="left" (click)="alterarTurma(turmaDetalhada)" > </button>
            <button pButton class="commit-button ui-grid-col-4" type="button" [disabled]="desabilitarCadastrarIniciando(turmaDetalhada.statusId)" icon="ui-icon-play-arrow" label="Alterar e iniciar turma" iconPos="left" (click)="iniciarTurma(turmaDetalhada)" > </button>
     
    
        </form>
    
        </p-dialog>





</div>

