.new-button{
    background-color: green
}

.delete-button{
    background-color: red;
    margin-left: 10px;
}

.dialog-turma{
    width: 50%;
    height: 50%;
}

.registrar-turma{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    float: left;
}

.registrar-turmar{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    float: right;
}

.input-turma{
    margin-top: 10px;
}

