<form [formGroup]="formTurma">
    <p-dialog class="dialog-turma " (onHide)="limparHolder()" header="Turma" [draggable]="false" [modal]="true"
        [(visible)]="display">
        <div class="card table-colab">
            <div class="card ui-grid-col-12">
                <p class="registrar-turma ui-grid-col-4">Nome da turma</p>
                <p class="registrar-turmar ui-grid-col-6">Descricao da turma</p>
                <input pInputText placeholder="nome turma" formControlName="nome" maxlength="40"
                    class="registrar-turma ui-grid-col-3 " type="text" name="nomeTurmaAlt" />
                <textarea [rows]="1" [cols]="30" type="text" formControlName="descricao" maxlength="255" pInputTextarea
                    autoResize="autoResize" class="registrar-turmar ui-grid-col-6 " name="descricaoTurmaAlt"
                    placeholder="descricao..."></textarea>
                <br />
                <button pButton class="finalizar-button ui-grid-col-4" type="button"
                    [disabled]="desabilitarFinalizarTurma()" icon="ui-icon-play-arrow" label="Finalizar turma"
                    iconPos="left" (click)="finalizarTurma()"> </button>


            </div>

            <form [formGroup]="formCompetencias">
                <p-fieldset legend="Adicionar colaborador" [toggleable]="true" collapsed="true">
                    <div class="ui-g-3">
                        <p class="registrar-turma ">Colaborador</p>
                        <p-dropdown [options]="colaboradoresTotal" formControlName="colaboradorDropDown"
                            placeholder="colaborador" name="colaboradorNomeDropDownAlterar" optionLabel="nome"
                            [filter]="true">
                        </p-dropdown>

                        <p class="registrar-turma ">Competência</p>

                        <p-dropdown name="competenciaNomeDropDownAlterar" formControlName="competenciaDropDown"
                            [options]="competenciasTotal" placeholder="competencia" optionLabel="nome" filter="true">
                        </p-dropdown>

                        <button pButton class="commit-button-colab" (click)="inserirColaboradorCompetenciaHolder()"
                            icon="pi pi-plus" [disabled]="desabilitarTurmaConcluida()" label="Adicionar" type="button"
                            iconPos="left"> </button>

                    </div>


                    <div class="ui-g-8">
                        <p-table [value]="colaboradorCompetenciaHolder">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Colaborador</th>
                                    <th>Competência</th>
                                    <th>Nível</th>
                                    <th>Descartar</th>
                                </tr>

                            </ng-template>
                            <ng-template pTemplate="body" let-colaborador>
                                <tr [ngStyle]="mudarCorColaboradorNivel(colaborador.nivel)">
                                    <td>{{colaborador.colaboradorNome}} {{colaborador.colaboradorSobrenome}} </td>
                                    <td>{{colaborador.competenciaNome}}</td>
                                    <td>{{colaborador.nivel}}</td>
                                    <td class="coluna-botao">
                                        <p-button class="botao-laranja" [disabled]="desabilitarTurmaConcluida()"
                                            (click)="deletarColaboradorCompetenciaHolderAlt(colaborador)"
                                            icon="ui-icon-trash" pTooltip="Descartar colaborador"></p-button>
                                    </td>
                                </tr>
                                <tr>

                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </p-fieldset>
            </form>
        </div>
        <button pButton class="commit-button" type="button" icon="ui-icon-pencil" [disabled]="desabilitarSubmitTurma()"
            label="submeter" iconPos="left" (click)="submitTurma()"> </button>
        <button pButton class="commit-button ui-grid-col-4" type="button" [disabled]="desabilitarSubmitTurmaIniciando()"
            icon="ui-icon-play-arrow" label="submeter e iniciar turma" iconPos="left" (click)="submitTurmaIniciando()">
        </button>

    </p-dialog>
</form>