<form [formGroup]="formCompetencia" (ngSubmit)="atualizarCompetencia()">

    <div class="ui-fluid">
        <div class="p-field">
            <label for="nome">Nome</label>
            <input type="text" pInputText name="nome" formControlName="nome">
        </div>
        <div class="p-field">
            <label for="descricao">Descrição</label>
            <input type="text" pInputText name="descricao" formControlName="descricao">
        </div>
    </div>

    <h3 class="first">Categoria</h3>
    <p-dropdown [options]="converterParaDropDown(categorias, null, 'descricao')" formControlName="categoria" placeholder="Selecione uma categoria"></p-dropdown>
    <input type="submit" pButton class="btn btn-primary mt-4" value="Salvar">
    <button href="#" pButton class="btn btn-secondary mt-4 ml-2">Cancelar</button>

</form>
