<form [formGroup]="formCompetencia">

    <div class="form-competencia bs-bb">

        <div class="ui-fluid">
            <div class="p-field form-nome-competencia">
                <label for="nome">Nome</label>
                <div class = "input-nome-competencia">
                    <input type="text" pInputText name="nome" formControlName="nome" maxlength=30 minlength="2">
                </div>
            </div>
            <div class="p-field form-descricao-competencia">
                <label for="descricao">Descrição</label>
                <div class="textArea-descricao-competencia">
                    <textarea pInputTextarea name="descricao" formControlName="descricao" maxlength=100></textarea>
                </div>
            </div>
        </div>

        <h3 class="first">Categoria</h3>
        <div class = "dropdown-categorias">
            <p-dropdown [options]="converterParaDropDown(categorias, null, 'descricao')" appendTo = "body" formControlName="categoria" placeholder="Selecione uma categoria"></p-dropdown>
        </div>
        <div class = "ui-g">
            <div class="ui-sm-12 ui-md-6 ui-lg-6 ui-xl-6">
                <button pButton type="button" class="width-100" (click)="finalizarFormulario()">Salvar</button>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-6 ui-xl-6">
                <button pButton type="button" class="width-100" (click)="cancel()">Cancelar</button>
            </div>
        </div>
    </div>
</form>
