<body>
    <p-toast></p-toast>
    <p-confirmDialog acceptLabel="sim"  rejectLabel="não" ></p-confirmDialog>

    <div class = "div-tela-sombreada">

        <h1 class="titulo-pagina-competencia">COMPETÊNCIAS</h1>

        <div class="box">
            <input type="text" name="search" class  = "form-control" placeholder="Pesquisar..." #search />
            <p-button type="submit" class="button botao-pesquisa" icon="pi pi-search" (onClick)="obterCompetencias(search.value)" ></p-button>
        </div>

        <div class="botao-create">
            <button type="button" class = "transition-size" pButton icon="ui ui-icon-plus" label="CRIAR" (click)="showDialogEdit(true)"></button>
        </div>

        <div class="ui-g div-cards-competencias">

            <p-card *ngFor="let competencia of competenciasFiltrada" class="card-competencia col-sm-12 col-md-7 col-lg-2 transition-size" (click) = "showDialog(competencia)" >
                <div style="text-align: center;">
                    <p class="titulo-competencia">{{competencia.nome}}</p>
                    <p class="descricao-competencia">{{competencia.descricao}}</p>
                </div>
            </p-card>
        </div>

        <p-dialog #dialogCompetencia [(visible)]="display" *ngIf="!!competenciaDetalhada" header="{{competenciaDetalhada.nome}}" >
                <p class="tipo-dado" >ID DA COMPETÊNCIA: <span class = "dado-competencia"> {{competenciaDetalhada.id}} </span> </p>
                <p class="tipo-dado" >DESCRIÇÃO DA COMPETÊNCIA: <span class = "dado-competencia">{{competenciaDetalhada.descricao}}</span> </p>
                <p class="tipo-dado" >CATEGORIA: <span class = "dado-competencia">{{competenciaDetalhada.categoria.descricao}}</span> </p>
                <p-footer>
                    <button type="button" pButton icon="ui ui-icon-pencil" label="EDITAR" class="botao-editar" (click)="showDialogEdit(false)">

                    </button>
                    <button type="button" pButton icon="ui ui-icon-trash" label="EXCLUIR" (click)="deletarCompetencia(competenciaDetalhada)" class="ui-button-secondary botao-excluir" class = "botao-excluir"></button>
                </p-footer>
        </p-dialog>

    </div>

</body>
