.titulo-competencia{
    font-family: "BebasNeue";
    font-size: 40px;
    color: rgb(228, 135, 48);
    margin: 10px 2px 2px 2px;
    text-align: left;
}

.descricao-competencia{
    font-family: "Montserrat-ExtraLight";
    font-size: 25px;
    text-align: left;
    color: white;
    margin: 10px 2px 2px 2px;
}

.nome-categoria{
    font-family: "Roboto";
    font-size:15px;
    text-align: left;
    color: white;
    margin: 5px 2px 2px 5px;
}

.div-tela-sombreada{
    padding: 5% 17.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box {
    /* border:1px solid #444; */
    width:500px;
    border-radius: 25px;
    margin: 7% auto;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.877);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.295);
}

.box input {
    display:inline-block;
    outline:0;
    width: 400px;
    border:0;
    color: rgb(255, 255, 255);
    background-color: rgb(0 0 0 / 0%);
    font-size: 15px;
    padding: 0px 20px;
    height: 50px;
    font-family: 'OpenSans-Light';
    border-radius: 25px;
}

.box .button {
    color: rgb(0, 0, 0);
    font-weight: bold;
    border:none;
    float:right;
    padding: 0;
}

.tipo-dado{
    font-family: 'Montserrat-ExtraLight';
    font-size: 18px;
}

.dado-competencia{
    font-family: 'OpenSans-Light';
    font-size: 18px;
}
