@import "assets/layout/css/definicoes-font.css";

.bs-bb * {
    box-sizing: border-box;
}

$corLaranja: rgb(228, 135, 48);
$corPreta: rgb(30, 30, 30);
$corTransparente: rgba(0, 0, 0, 0);
$sombra: 0 4px 8px 0 rgba(0, 0, 0, 0.329);

/* You can add global styles to this file, and also import other style files */
p-card.card-competencia div.ui-card{
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50);
    border: 0px;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgba(0, 0, 0, 0.877));
}

p-card.card-competencia{
    margin: 5px 0 0 5px;
    cursor: pointer;
}

input.pesquisa{

    height: 100%;
    padding: 0 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

p-dialog div.ui-widget-overlay{
    opacity: 1;
    background-color: #58575caa
}
