@import "assets/layout/css/definicoes-font.css";

.bs-bb * {
    box-sizing: border-box;
}

$corLaranja: #e48730;
$corPreta: rgb(30, 30, 30);
$corTransparente: rgba(0, 0, 0, 0);
$sombra: 0 4px 8px 0 rgba(0, 0, 0, 0.329);

/* You can add global styles to this file, and also import other style files */

p-card.card-competencia div.ui-card{
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50);
    border: 0px;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgba(0, 0, 0, 0.877));
}



p-card.card-competencia{

    width: 400px;
    min-width: 300px;
    height: 122px;
    margin: 5px 0 0 5px;
    cursor: pointer;
    text-overflow: ellipsis;
}

input.pesquisa{

    height: 100%;
    padding: 0 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

p-button.botao-pesquisa button.ui-button.ui-button-icon-only{

    width: 50px;
    height: 50px;
    border-radius: 25;
}

p-button.botao-pesquisa button.ui-button{

    box-shadow: none;
    background-color: $corPreta;
}

p-button.botao-pesquisa button.ui-button span.pi{
    color: $corLaranja;
}

//=========================== Style do Dialog de competência mostrar

p-dialog.dialog-competencia div.ui-dialog div.ui-dialog-content{
    overflow-wrap: anywhere;
}

p-dialog.dialog-competencia div.ui-dialog div.ui-dialog-titlebar a.ui-dialog-titlebar-icon{

    width: 0.8em;
    height: 0.8em;
    margin: 80% 0;
    position: relative;
}

p-dialog.dialog-competencia div.ui-dialog div.ui-dialog-titlebar a.ui-dialog-titlebar-icon:hover{
    background-color: $corTransparente;
}

p-dialog.dialog-competencia div.ui-dialog div.ui-dialog-titlebar {

    font-family: "BebasNeue";
    font-size: 50px;
    color: rgba(255, 255, 255, 0.877);
    text-align: left;
    background-image: linear-gradient(to bottom right, $corLaranja, rgba(228, 135, 48, 0.849));
    padding: 0px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.329);
}

// Botão Close p-dialog

// p-dialog.dialog-competencia div.ui-dialog.ui-shadow {
//     width: 70vw;
//     height: 50vh;
// }

//X do botão close
p-dialog.dialog-competencia div.ui-dialog div.ui-dialog-titlebar a.ui-dialog-titlebar-icon span.pi.pi-times{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 50% 0px;
}

p-dialog.dialog-competencia div.ui-dialog div.ui-dialog-titlebar a.ui-dialog-titlebar-icon span.pi{
    position: relative;
}

//----------------Botão atualizar de competência---------------------------------
p-dialog.dialog-competencia div.ui-dialog div.ui-dialog-footer button.ui-button.botao-editar{

    font-family: 'Roboto';
    color: $corLaranja;
    background-color: $corPreta;

}

p-dialog.dialog-competencia div.ui-dialog div.ui-dialog-footer button.ui-button.botao-editar:hover{

    font-family: 'Roboto';
    color: white;
    background-color: rgba(0, 0, 0, 0.726);
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);

}

p-dialog.dialog-competencia div.ui-dialog div.ui-dialog-footer button.ui-button.botao-editar span.ui-button-icon-left{

    color: $corLaranja;

}

p-dialog.dialog-competencia div.ui-dialog div.ui-dialog-footer button.ui-button.botao-editar:hover span.ui-button-icon-left{

    color: white;

}

//-------------------- fim -----------------------------------------------------

//----------------Botão excluir de competência---------------------------------
p-dialog.dialog-competencia div.ui-dialog div.ui-dialog-footer button.ui-button.botao-excluir{

    font-family: 'Roboto';
    color: $corPreta;
    background-color: $corLaranja;

}

p-dialog.dialog-competencia div.ui-dialog div.ui-dialog-footer button.ui-button.botao-excluir:hover{

    font-family: 'Roboto';
    color: white;
    background-color: rgba(228, 135, 48, 0.849);
    box-shadow: inset 0px 0px 10px rgba(189, 104, 24, 0.884);

}

p-dialog.dialog-competencia div.ui-dialog div.ui-dialog-footer button.ui-button.botao-excluir:hover span.ui-button-icon-left{
    color: white;
}

p-dialog.dialog-competencia div.ui-dialog div.ui-dialog-footer button.ui-button.botao-excluir span.ui-button-icon-left{
    color: $corPreta;
}

//-------------------- fim -----------------------------------------------------


//=================== ALTERAÇÕES NO HEADER =====================================================

//BOTÃO CLOSE
p-dynamicdialog div.ui-dialog div.ui-dialog-titlebar a.ui-dialog-titlebar-icon:hover{
    background-color: $corTransparente;
}

p-dynamicdialog div.ui-dialog div.ui-dialog-titlebar a.ui-dialog-titlebar-icon:focus{
    background-color: $corTransparente;
}

p-dynamicdialog div.ui-dialog div.ui-dialog-titlebar a.ui-dialog-titlebar-icon:focus-visible{

    outline: none;
}

p-dynamicdialog div.ui-dialog div.ui-dialog-titlebar a.ui-dialog-titlebar-icon{
    background-color: $corTransparente;
    border-color: $corLaranja;
}


p-dynamicdialog div.ui-dialog div.ui-dialog-titlebar a.ui-dialog-titlebar-icon span.pi{

    margin-top: 15%;
    font-size: 30px;
    color: white;

}
//==============================================================================================

//======================== Form-Competencia =====================================================

p-dynamicdialog div.form-nome-competencia{

    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
}

//========================== CAMPO NOME ==========================================================
p-dynamicdialog div.form-nome-competencia div.input-nome-competencia{

    width: 50%;
    height: 2%;
    border: solid 1px;
    border-color: #1e1e1e;
    align-items: flex-start;
    background-color: white;
    margin: -8px 0;
    z-index: 0;
}

p-dynamicdialog div.ui-fluid div.form-nome-competencia label{

    font-family: "Roboto";
    width: 40px;
    height: 20px;
    background-color: white;
    text-align: center;
    font-size: 12px;
    color: #1e1e1e;
    z-index: 1;
    margin: 0 5px;
}

p-dynamicdialog div.ui-fluid div.form-nome-competencia div.input-nome-competencia input.ui-inputtext{

    background-image: none;
    width: 90%;
    font-size: 16px;
    margin: 10px 0 5px 7px;
    padding: 3px 0px 0px 3px;
    font-family: 'OpenSans-Light';
}

//===============================================================================================

//============================= CAMPO DESCRIÇÃO =================================================

p-dynamicdialog div.form-descricao-competencia{

    display: flex;
    position: relative;
    margin: 66px 0 0 -2.2px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

}

p-dynamicdialog div.form-descricao-competencia div.textArea-descricao-competencia{

    min-width: 70%;
    min-height: 15%;
    border: solid 1px;
    border-color: #1e1e1e;
    align-items: flex-start;
    background-color: white;
    margin: -13px 0 5px 2px;
    z-index: 0;
}

p-dynamicdialog div.ui-fluid div.form-descricao-competencia div.textArea-descricao-competencia textarea.ui-inputtext{

    max-width: 450px;
    min-height: 24px;
    font-size: 16px;
    background-image: none;
    width: 90%;
    margin: 10px 0 5px 7px;
    padding: 3px 0px 0px 3px;
    font-family: 'OpenSans-Light';
}

div.form-descricao-competencia div.textArea-descricao-competencia textarea.ui-inputtext{
    background-image: none;
}

p-dynamicdialog div.ui-fluid div.form-descricao-competencia label{

    display: block;
    font-family: "Roboto";
    width: 60px;
    height: 25px;
    background-color: white;
    text-align: center;
    font-size: 12px;
    color: #1e1e1e;
    z-index: 1;
    margin: -24px 0 0 7px;
}

//===============================================================================================

//============================ ALTERAÇÕES DO DROPWDOWN CATEGORIAS ==============================

div.dropdown-competencia{

    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;

}

div.dropdown-categorias{

    z-index: 0;
    margin: -12px 0 0 0;
    width: 300px;
    background-color: white;
    border: solid 1px;
    border-color: #1e1e1e;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 10px;

}

div.dropdown-competencia label{

    z-index: 1;
    background-color: white;
    font-size: 12px;
    font-family: 'Roboto';
    width: 60px;
    text-align: center;
    margin: 0 0 0 6px;

}

div.dropdown-categorias p-dropdown{
    width: 100%;
}

div.dropdown-categorias p-dropdown div.ui-dropdown{
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 -13px;

}

div.dropdown-categorias p-dropdown div.ui-widget{
    width: 30%;
}

div.dropdown-categorias p-dropdown div.ui-dropdown div.ui-dropdown-label-container{

    margin: 0 0 0 10px;

}

div.dropdown-categorias p-dropdown div.ui-dropdown div.ui-dropdown-label-container span.ui-dropdown-label{
    font-family: 'OpenSans-Light';
}

div.dropdown-categorias p-dropdown div.ui-dropdown div.ui-dropdown-trigger{

    position: relative;
    margin: 0 6px 0 0;
}

div.dropdown-categorias p-dropdown div.ui-dropdown div.ui-dropdown-trigger span.ui-dropdown-trigger-icon{

    margin-top: -0.5em;
    margin-left: -0.5em;
    background-color: $corTransparente;
}

//==============================================================================================

//=========================== ALTERAÇÕES DO DYNAMICDIALOG =======================================

p-dynamicdialog div.ui-widget-overlay{

    background-color: rgba(255, 255, 255, 0.589);
    opacity: 1;

}

p-dynamicdialog div.ui-dialog div.ui-dialog-content{

    padding: 40px 20px 40px 20px;

}

p-dynamicdialog div.ui-dialog div.ui-dialog-titlebar{

    background-color: $corPreta;
    font-family: 'BebasNeue';
    font-size: 30px;
    padding: 0 20px 0 20px;
    color: $corLaranja;

}

.width-100 {
    width: 50%;
}


//================================= ALTERAÇÕES NOS BOTÕES ======================================

//BOTÃO SALVAR #################################################################################

div.form-competencia div.ui-g{

    min-width: 250px;
    margin: 40px 0 0 0;
}

div.form-competencia div.ui-g div.botao-cancelar-competencia{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
}

div.form-competencia div.ui-g div.botao-cancelar-competencia button{

    background-color: white;
    box-shadow: none;
    color: $corPreta;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

div.form-competencia div.ui-g div.botao-cancelar-competencia button:hover{

    background-color: $corPreta;
    color: white;
}

div.form-competencia div.ui-g div.botao-salvar-competencia{

    margin: 0;
}

div.form-competencia div.ui-g div.botao-salvar-competencia button{

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1e1e1e;
    width: 100%;
}

div.form-competencia div.ui-g div.botao-salvar-competencia button:hover{
    background-color: $corLaranja;
}
//==============================================================================================
//================================= ALTERAÇÃO TABELA COLABORADORES==============================
.ui-paginator-current {
    float: right;
}

th div p-dropdown div.ui-dropdown {
    width: 100%;
}

p-paginator div p-dropdown div.ui-dropdown {
    float: left;
}

tbody tr.ng-star-inserted td.botao-acao {
    padding: 0;
}

.botao-acao-icon {
    width: 50%;
    display: inline-block;
    text-align: center;
}

.botao-novo {
    float: left;
    line-height: normal;
}

body .botao-laranja .ui-button {
    background-color: $corLaranja;
}

body .layout-wrapper.layout-compact .ui-table-caption {
    line-height: 33px;
}

.coluna-acao {
    width: 15%;
}

.coluna-senioridade {
    width: 25%;
}
//==============================================================================================
